<ul class="nav justify-content-end bg-dark">
  <li class="nav-item">
    <%= link_to 'Blog', articles_path , class:'nav-link'%>
  </li>
  <%if user_signed_in? %>
  <li class="nav-item">
    <%= link_to 'logout', destroy_user_session_path , :method => :delete,  class:'nav-link'%>
  </li>
  <% else %>
  <li class="nav-item">
    <%= link_to 'Sign in', new_user_session_path, class:'nav-link'%>
  </li>
  <li class="nav-item">
    <%= link_to 'Register', new_user_registration_path, class:'nav-link'%>
  </li>
  <%end%>
</ul>
<br>
<br>